/* src/components/Grid.css */
:root {
    --cell-size: 50px;
}
  
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--n), var(--cell-size)); /* creates exactly N columns */
    grid-template-rows: repeat(var(--n), var(--cell-size)); /* creates exactly N rows */
    justify-content: center;
    align-content: center;
    gap: 1px;
    padding: 1px;
  }
  
  .cell {
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  
  .cell.wall {
    background-color: darkgrey; /* Color for "wall" cells */
  }

.cell::before,
.cell::after {
  display: block; 
  text-align: center;
  font-size: 2em;
}

.cell.start-node::before {
    content: '➤';
    top: 50%;
    left: 50%;
    margin-bottom: 0.1em;
    font-size: 1.5em;
    color: #0CA6FE;
}
  
  .cell.end-node::before {
    content: '⬤'; 
    top: 50%;
    left: 50%;
    margin-bottom: 0.1em;
    font-size: 1.5em;
    color: #0CA6FE;
  }

.label{
    content: attr(data-label);
    font-size: 18px; 
    color: #124C6D;
    margin-top: 4px;
}